.top-container {
    padding-left: 21%;
}

.div-default {
    position: relative; 
    left: 20%;
}

.fieldset-default {
    margin: 15px; 
    padding: 15px; 
    width: 700px; 
    border-radius: 4px;
}